<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
<script type="text/javascript">
window.onload = function () {
    var dataPoints = {{ chart_data|safe }};

    var stockChart = new CanvasJS.StockChart("chartContainer",{
        title: {
            text: "AAPL Stock Price"
        },
        charts: [{
            axisY:{
                prefix:"$",
                title: "Price"
            },     
            data: [{        
                type: "spline",
                dataPoints: dataPoints
            }]
        }],
        navigator: {
            slider: {
                minimum: new Date(dataPoints[0].x),
                maximum: new Date(dataPoints[dataPoints.length - 1].x)
            }
        }
    });
    stockChart.render();
};
</script>
</head>
<body>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
</body>
</html>
