{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Trader</title>
    <link rel="stylesheet" href="{% static  'css/styles.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
    <div class="header">paper trader</div>
    {% comment %} <div class="directions">
    <p>Use the drop down menu to view different charts containing stock closing data.
    Then input the quantity of shares you wish to purchase or sell in the portfolio.
    Lastly, use the "complete transaction" button to confirm your purchase or sale. </p>
    </div> {% endcomment %}

    <form method="GET" id="tickerform">
        {{form}}
    </form>
    <div class="main-container">
    <div id="apple">
    {% autoescape off %}
    {{aapl_plot_div|safe}}
    {% endautoescape %}
    </div>

    <div class="microsoft-container" id="microsoft">
        {% autoescape off %}
        {{msft_plot_div}}
        {% endautoescape %}
    </div>

    <div class="google-container" id="google">
    {% autoescape off %}
    {{goog_plot_div}}
    {% endautoescape %}
    </div>

<div class="buy-container">
    <h2>portfolio</h2>

    <form method = "POST" id="transaction-form">
        {%csrf_token%}
    <table>
        <tr>
            <th>stock</th>
            <th>shares owned</th> 
            <th>share price</th>
            <th>buy quantity</th>
            <th>sell quantity</th>
        </tr>
        {% for share in shares %}
        <tr>
            <td>{{share.share_name}}</td>
            <td id="shares-owned-{{share.share_name }}">
                {{share.owned_share}}
            </td>
            <td id="shares-price-{{share.share_name }}">
                {{share.share_price}}
            </td>
        
            <td><input type="text" class="buy-quantity" data-stock="{{share.share_name }}">
                </input>
            </td>

            <td>
                <input type="text" class="sell-quantity" data-stock="{{share.share_name }}">
                </input>
            </td>
        </tr>

        {% endfor %}
    </table>
    <div class="money">
        <div class="values">
    <h4>buy total:$
        <span id="buy-total">0</span>
    </h4>
    <h4>sell total:$
        <span id="sell-total">0</span>
    </h4>
    <h4>final transaction:$
        <span id="transaction-total">0</span>
    </h4>
</div>

<div class="balance-container">
    <h3>balance: $
        <span class="balance">10000</span>
    </h3>
    <button type="submit" id= "complete-transaction" class="purchase-button">complete transaction</button>
    <div id="warning"></div>
    </div>
</div>
   

</form>

</div>

    <script>

    
        const transactionForm = document.getElementById('transaction-form');
        const buyTotalElement = document.getElementById('buy-total');
        const sellTotalElement = document.getElementById('sell-total');
        const transactionTotalElement = document.getElementById('transaction-total');
        
        const buyQuantityInputs = document.querySelectorAll('.buy-quantity');
        const sellQuantityInputs = document.querySelectorAll('.sell-quantity');
        const balanceElement = document.querySelector('.balance');
        const sharesOwnedElements = document.querySelectorAll('[id^=shares-owned]');

        let selectElement = document.getElementById('ticker_field');
        let balance = 10000;
        let totalBuy=0;
        let totalSell = 0;
        let totalShares = 0;
    
        if(selectElement){
            selectElement.addEventListener('change', function() {

                document.getElementById('tickerform').submit();
            });
        }

        buyQuantityInputs.forEach(input => { 
            if(balance <= 10000){
                input.addEventListener('change', function() {

                    totalBuy = 0;
                    buyQuantityInputs.forEach(input=>{
                        const stockName = input.dataset.stock;
                        const sharePriceElement = document.querySelector(`#shares-price-${stockName}`);
                        const sharesOwnedElement=document.querySelector(`#shares-owned-${stockName}`);
                        const buyQuantity = parseInt(input.value)|| 0;

                        const sharesOwned = parseInt(sharesOwnedElement.textContent)||0;
                        const totalShares = buyQuantity + sharesOwned;

                        const sharePrice = parseFloat(sharePriceElement.textContent)|| 0;
                        const cost = (sharePrice * buyQuantity);
                        //sharesOwnedElement.textContent = totalShares;
                        totalBuy -= cost
                        
                        
                    });
                    const buyTotalElement = document.getElementById('buy-total');
                    buyTotalElement.textContent = totalBuy.toFixed(2)
                    updateTransactionTotal();
                    totalBuy = "0";
                    buyQuantity = "0";
                    
                });
        
            }

        });
        
        sellQuantityInputs.forEach(input => {
            input.addEventListener('change', function(){
                totalSell = 0;
                sellQuantityInputs.forEach(input=>{
                    const stockName = input.dataset.stock;
                    const sharePriceElement = document.querySelector(`#shares-price-${stockName}`);
                    const sharesOwnedElement=document.querySelector(`#shares-owned-${stockName}`);
                    const sellQuantity = parseInt(input.value)|| 0;
                    const sharesOwned = parseInt(sharesOwnedElement.textContent)||0;
                    const totalShares = Math.max(sharesOwned - sellQuantity, 0); 
                    const sharePrice = parseFloat(sharePriceElement.textContent)|| 0;
                    const cost = (sharePrice * sellQuantity);
                    totalSell += cost

                });
                const sellTotalElement = document.getElementById('sell-total');
                sellTotalElement.textContent = totalSell.toFixed(2)
                updateTransactionTotal();
                totalSell="0"
                sellQuantity="0"
                
            });
                


            });
        

        function updateTransactionTotal(){
            
                const transactionTotalElement = document.getElementById('transaction-total');
                const transactionTotal = parseFloat(totalBuy) + parseFloat(totalSell);
                transactionTotalElement.textContent = transactionTotal.toFixed(2);

        
        
        }

        transactionForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const transactionTotal = parseFloat(transactionTotalElement.textContent);

            if (Math.abs(transactionTotal) > balance) {
                alert('Transaction total exceeds balance. Transaction cannot be completed.');
                return;
            }

            let transactionCompleted = true;

            sharesOwnedElements.forEach(sharesOwnedElement =>{
                const stockName = sharesOwnedElement.id.split('-')[2];
                const buyQuantityInput = document.querySelector(`.buy-quantity[data-stock="${stockName}"]`);
                const sellQuantityInput = document.querySelector(`.sell-quantity[data-stock="${stockName}"]`);        
                const buyQuantity = parseInt(document.querySelector(`.buy-quantity[data-stock="${stockName}"]`).value)||0;
                const sellQuantity = parseInt(document.querySelector(`.sell-quantity[data-stock="${stockName}"]`).value)||0;
                const sharesOwned = parseInt(sharesOwnedElement.textContent)|| 0;
                const totalShares = sharesOwned + buyQuantity - sellQuantity;

                if (sharesOwned < sellQuantity){
                    alert('Not enough shares for transaction.');
                    transactionCompleted = false;
                    return;
                }
                
                sharesOwnedElement.textContent = totalShares;
                buyQuantityInput.value = '';
                sellQuantityInput.value = '';
                
        });

                if (transactionCompleted){
                    completeTransaction();
                }
                
        });
        

        function completeTransaction(){
            const transactionTotal = parseFloat(transactionTotalElement.textContent);
                balance += transactionTotal;
                balanceElement.textContent = balance.toFixed(2);
        
                buyTotalElement.textContent = '0';
                sellTotalElement.textContent = '0';
                transactionTotalElement.textContent = '0';
                transationTotal = 0;
            
            };

            //need to fix error where a number in both buy and sell for same stock, the final transaction number is wrong. 
            //could make a warning to not use both columns?

        

    </script>
</body>
</html>
