{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Trader</title>
    <link rel="stylesheet" href="{% static  'css/styles.css'%}">

</head>
<body>
    <h1>Paper Trader Home Page</h1>
    <h2>Welcome to Paper Trader!</h2>

    <form method="GET" id="tickerform">
        {{form}}
    </form>

    <div id="apple">
    {% autoescape off %}
    {{aapl_plot_div|safe}}
    {% endautoescape %}
    </div>

    <div class="microsoft-container">
        {% autoescape off %}
        {{msft_plot_div}}
        {% endautoescape %}
    </div>

    <div class="google-container">
    {% autoescape off %}
    {{goog_plot_div}}
    {% endautoescape %}
    </div>

<div class="buy-container">
    <h4>Portfolio</h4>
    <table>
        <tr>
            <th>Stock</th>
            <th>Quantity</th> 
            <th>Value</th>
            <th>Buy/Sell</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td><input type="text" class="aaplquantity"></input></td> 
            <td>${{aapl_last_quote}}</td>
            <td><input type="radio" class="aaplradio"></input></td>
        </tr>
        <tr>
            <td>Microsoft</td>
            <td><input type="text" class="msftquantity"></input></td> 
            <td>${{msft_last_quote}}</td>
            <td><input type="radio" class="msftradio"></input></td>
        </tr>
        <tr>
            <td>Google</td>
            <td><input type="text" class="msftquantity"></input></td> 
            <td>${{goog_last_quote}}</td>
            <td><input type="radio" class="googradio"></input></td>
        </tr>
    </table>


    <script>
    
        var selectElement = document.getElementById('ticker_field');
    

        selectElement.addEventListener('change', function() {

            document.getElementById('tickerform').submit();
        });
    </script>
</body>
</html>